{% extends 'base.html'%}
{% block container %}
<link rel="stylesheet" href={{ url_for('static', filename='css/general.css') }}/>
<link rel="stylesheet" href={{ url_for('static', filename='css/transcripts/search.css') }}/>
<div class="row col-lg-12">
    <form method="POST" action="/keywords/search" accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
        {% for field in form if field.name != 'csrf_token'%}
            <div class="form-group">
                {{ field.label() }}
                {{ field(class="form-control") }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="card-body">
            <div class="header">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </div>
        </form>
    </div>
    <div class="results">
        {% for entry in data %}
        <div class="row col-lg-12">
            <div id={{ entry['k_id'] }} class="card border-primary mb-3">
                <div class="card-body">
                    <div class="header">
                        <h3 class="card-title">{{ entry['keyword'] }}</h3>
                        {% if lflag == 1 %}
                        <button class="btn btn-primary" onClick="deleteKeyword({{ entry['k_id']|safe }})">Delete</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            function deleteKeyword(id) {
                var http = new XMLHttpRequest();
                var url = "/keywords/delete";
                params = "id=" + id;
                http.open("POST", url, true);
                http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                http.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    if(http.responseText == "Deleted") {
                        document.getElementById(id).remove()
                    }
                }
            };
            http.send(params);
            }
        </script>
    {% endfor %}
    </div>
{% endblock %}